* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  align-items: center;
}

.search-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: center;
}

input {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 400px;
  padding: 10px 20px;
  background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
  border-radius: 30px;
  border: 1px solid #8f9092;
  box-shadow: 0 2px 1px 0.5px #fcfcfc8f, 0 3px 4px #d6d7d98f,
    0 -2px 2px #cecfd18f, 0 -3px 2px #fefefe8f, inset 0 0 1px 1px #cecfd18f;
  transition: all 0.2s ease;
  font-size: 16px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}

input:hover {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 3px 3px #cecfd1;
}

input:active {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 15px #aaa;
}

@media only screen and (min-width: 780px) {
  input {
    width: 300px;
    font-size: 14px;
  }
}

@media only screen and (min-width: 380px) {
  input {
    width: 250px;
    font-size: 14px;
  }
}

.btn-search {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 150px;
  background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
  border-radius: 30px;
  border: 1px solid #8f9092;
  transition: all 0.2s ease;
  font-size: 16px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}

@media only screen and (max-width: 780px) {
  .btn-search {
    width: 100px;
    font-size: 14px;
  }
}

.btn-search:hover {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 3px 3px #cecfd1;
}

.btn-search:active {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.btn-search:focus {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.gallery {
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.photo-card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.photo-card:hover {
  scale: 1.01;
  transition: all 0.2s ease-in-out 0ms;
}

.web-img {
  width: 500px;
  height: 300px;
  filter: grayscale(90%);
  transition: filter 0.3s ease-in-out;
}

.web-img:hover {
  filter: grayscale(0%);
}

@media only screen and (max-width: 780px) {
  .web-img {
    filter: grayscale(0%);
  }
}

.info {
  font-size: small;
  padding-left: 10px;
  display: flex;
  gap: 10px;
  padding-bottom: 5px;
  font-size: 15px;
}

.load-more {
  justify-content: center;
  cursor: pointer;
  background: #fff;
  border: none;
  outline: none;
  width: 200px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 9999px;
  box-shadow: inset 2px 5px 10px rgba(5, 5, 5, 0.434);
  color: rgb(0, 0, 0);
  transition: all 0.2s ease-in-out 0ms;
  position: absolute;
  margin-top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.load-more:hover {
  background-color: #f2f2f2;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.632);
}

#scrollBtn.show {
  opacity: 1;
}

#scrollBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 50px;
  height: 40px;
  background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
  border-radius: 30px;
  border: 1px solid #8f9092;
  transition: all 0.2s ease;
  font-size: 16px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}

#scrollBtn:hover {
  box-shadow: 0 2px 1px 0.5px #fcfcfc8f, 0 3px 4px #d6d7d98f,
    0 -2px 2px #cecfd18f, 0 -3px 2px #fefefe8f, inset 0 0 1px 1px #cecfd18f;
}
