* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  align-items: center;
}

.search-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: center;
}

input {
  background: #fff;
  border: none;
  outline: none;
  width: 400px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 9999px;
  box-shadow: inset 2px 5px 10px rgba(5, 5, 5, 0.434);
  color: rgb(0, 0, 0);
}

.btn-search {
  cursor: pointer;
  background: #fff;
  border: none;
  outline: none;
  max-width: 190px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 9999px;
  box-shadow: inset 2px 5px 10px rgba(5, 5, 5, 0.434);
  color: rgb(0, 0, 0);
  transition: all 0.2s ease-in-out 0ms;
}
.btn-search:hover {
  background-color: #f2f2f2;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.632);
}

.btn-search:active {
  transform: scale(0.95);
}

.gallery {
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.photo-card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.photo-card:hover {
  scale: 1.01;
  transition: all 0.2s ease-in-out 0ms;
}

.web-img {
  width: 500px;
  height: 300px;
  filter: grayscale(95%);
  transition: filter 0.3s ease-in-out;
}

.web-img:hover {
  filter: grayscale(0%);
}

.info {
  font-size: small;
  padding-left: 10px;
  display: flex;
  gap: 10px;
  padding-bottom: 5px;
  font-size: 15px;
}

.load-more {
  justify-content: center;
  cursor: pointer;
  background: #fff;
  border: none;
  outline: none;
  width: 200px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 9999px;
  box-shadow: inset 2px 5px 10px rgba(5, 5, 5, 0.434);
  color: rgb(0, 0, 0);
  transition: all 0.2s ease-in-out 0ms;
  position: absolute;
  margin-top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.load-more:hover {
  background-color: #f2f2f2;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.632);
}
